<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Hello</title>
  </head>
  <body>
    <div class="container">
      <h4 style="background-color: rgb(240, 239, 239); padding: 15px">
        Add User
      </h4>
      <br />
      <form [formGroup]="user_Form" >
        <div class="row">
          <!-- full name  -->
          <div class="form-group col-md-6">
            <label for="fname"><span style="color:red">*</span>Full Name</label>
            <br />
            <input
              formControlName="fname"
              class="form-control"
              type="text"
              id="fname"
              name="fname"
            /><br />
          </div>
          <div class="form-group col-md-6">
            <!-- Username   -->
            <label for="username"
              ><span style="color:red">*</span>Username</label
            >
            <br />
            <input
              formControlName="username"
              class="form-control"
              type="text"
              id="username"
              name="username"
            /><br />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <!-- Password   -->
            <label for="password"
              ><span style="color:red">*</span>Password</label
            >
            <br />
            <input
              formControlName="password"
              class="form-control"
              type="password"
              id="password"
              name="password"
            /><br />
          </div>
          <div class="form-group col-md-6">
            <!-- Phone   -->
            <label for="phone"
              ><span style="color:red">*</span>Phone Number</label
            >
            <br />
            <input
              formControlName="phone"
              class="form-control"
              type="text"
              id="phone"
              name="phone"
            /><br />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <!--  email toggle  -->
            <div class="form-check form-switch">
              <input
                formControlName="emailSwitch"
                class="form-check-input"
                type="checkbox"
                id="emailSwitch"
              />
              <label for="emailSwitch">Send Email</label>
            </div>
          </div>
          <div class="form-group col-md-6">
            <!-- email -->
            <label for="email"><span style="color:red">*</span>Email</label
            ><br />
            <input
              formControlName="email"
              class="form-control"
              type="email"
              id="email"
              name="email"
            /><br />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <!-- address -->
            <label for="address">Address</label>
            <br />
            <input
              formControlName="address"
              class="form-control"
              type="text"
              id="address"
              name="address"
            /><br />
          </div>

          <div class="form-group col-md-6">
            <!-- contacts -->
            <label for="contacts">Contacts</label><br />
            <input
              formControlName="contacts"
              class="form-control"
              type="text"
              id="contacts"
              name="contacts"
            /><br />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <!-- valid period -->
            <label for="valid_period"
              ><span style="color:red">*</span>Valid Period</label
            >
            <br />
            <input
              formControlName="valid_period"
              class="form-control"
              type="date"
              id="valid_period"
              name="valid_period"
            /><br />
          </div>

          <div class="form-group col-md-6">
            <!-- App ID -->
            <label for="appID"><span style="color:red">*</span>App ID</label
            ><br />
            <input
              formControlName="appID"
              class="form-control"
              type="text"
              id="appID"
              name="appID"
            /><br />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <!-- Capacity   -->
            <label for="password"
              ><span style="color:red">*</span>Capacity</label
            >
            <br />
            <input
              formControlName="capacity"
              class="form-control"
              type="text"
              id="capacity"
              name="capacity"
            /><br />
          </div>
          <div class="form-group col-md-6">
            <!-- Postscript   -->
            <label for="phone">Postscript</label>
            <br />
            <input
              formControlName="postscript"
              class="form-control"
              type="text"
              id="postscript"
              name="postscript"
            /><br />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <!--  email toggle  -->
            <div class="form-check form-switch">
              <input
                formControlName="authorization"
                class="form-check-input"
                type="checkbox"
                id="authorization"
              />
              <label for="authorization"
                >Whether to authorize the background</label
              >
            </div>
          </div>
        </div>

        <br />

        <div class="row">
          <!--submit and cancel buttons -->
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button
              class="btn btn-primary me-md-2"
              type="button"
              style="color: Blue; background-color: white;"
            >
              Cancel
            </button>
            <input (click)="onSubmit()" class="btn btn-primary" type="submit" value="Submit">
            
          </div>
        </div>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"
        ></script>
      </form>
    </div>
    <info-table></info-table>
  </body>
</html>
